header {
  position: absolute;
  width: 1920px;
  height: 71px;
  left: 0px;
  top: 0px;

  background: #0054a6;
}
#logo {
  position: absolute;
  width: 142.77px;
  height: 28px;
  left: 367px;
  top: 20px;
}
#search-logo {
  position: relative;
  top: 14px;
  left: 980px;
}
#actions {
  width: 20%;
}
.add {
  position: relative;
  top: 113px;
  left: 380px;
  width: 40px;
  height: 40px;
  background: white;
  border-color: black;
  border-radius: 50%;
}
#main-header,
#cities-header {
  position: relative;
  width: 166px;
  height: 95px;
  left: 376px;
  top: 130px;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 95px;
  /* identical to box height */

  letter-spacing: 0.016em;
  text-transform: uppercase;

  color: #5c5c5c;
}

.searchBar {
  position: absolute;
  width: 1000px;
  height: 49px;
  left: 376px;
  top: 240px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#searchBar {
  position: absolute;
  width: 1000px;
  height: 49px;
  font-size: 30px;
  border-radius: 5px;
}
.countries-list,
.cities-list {
  position: relative;
  max-width: 1200px;
  max-height: 588px;
  left: 367px;
  top: 250px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
#allcountries,
#allcities {
  table-layout: auto;
  width: 1200px;
}
#pagination-wrapper {
  position: relative;
  left: 900px;
  top: 260px;
}
table {
  border: 0.5px solid #969696;
}
th,
td {
  width: 1185px;
  text-align: left;
  outline-style: inset;
  outline-color: lightgrey;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding: 5px;

  letter-spacing: 0.016em;
  text-transform: uppercase;

  color: #5c5c5c;
}
a {
  color: #5c5c5c;
  text-decoration: none;
}
.modal {
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
.modal-content {
  position: absolute;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 466px;
  height: 446px;
  left: 727px;
  top: 317px;
  display: flex;
  flex-direction: column;
}
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 420px;
  height: 10%;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.add-header {
  position: relative;
  left: 40px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.016em;
  text-transform: uppercase;
  bottom: 20px;
  color: #5c5c5c;
}
#myName,
#myArea,
#myPop,
#myCode {
  display: inherit;
}
.name-div,
.area-div,
.pop-div {
  position: relative;
  left: 35px;
  padding-bottom: 15px;
  bottom: 20px;
}
.code-div {
  position: relative;
  left: 35px;
  bottom: 20px;
}
#name-input,
#area-input,
#pop-input,
#code-input {
  width: 374px;
  height: 42px;
  border: 0.75px solid #969696;
  box-sizing: border-box;
  border-radius: 7px;
  font-size: 25px;
}
#submit-btn {
  position: relative;
  width: 30%;
  height: 25px;
  left: 300px;
  border-radius: 5px;
  cursor: pointer;
}
.select-data {
  position: absolute;
  left: 1400px;
  top: 240px;
}
#filter-data {
  height: 55px;
  width: 170px;
  font-size: 20px;
}
#sort {
  position: absolute;
  left: 140px;
  top: 11px;
  cursor: pointer;
}
#message {
  position: absolute;
  top: 410px;
  left: 35px;
  display: none;
  color: red;
}
#page-button{
border-style: none;
background-color: white;
    cursor: pointer
}
#page-button.active{
  background-color:lightgrey;
}
